@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/*header*/
.banner-image {
  background-image: url("../image/home2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.text-home {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.text-home span {
  color: #219F94;
}

/*seccion sobre mi*/
/*mapas*/
.box2, .box {
  background-color: white;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  display: block;
  padding: 1.25rem;
}

.box2 {
  background-color: white;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  display: block;
  padding: 1.25rem;
}

.sobre_mi_container {
  padding: 5em;
}

section div h3 {
  color: #072227;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
section div h3 span {
  color: #072227;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.tituloEstudios {
  text-align: center;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  color: #3E8E7E;
}

.icon-box {
  align-self: center;
}

.conten_Estudios {
  text-align: center;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
}

.conten_Estudios span {
  font-weight: 600;
}

/*mapas*/
.box, .box2 {
  background-color: white;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  display: block;
  padding: 1.25rem;
}

.box2 {
  background-color: white;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  display: block;
  padding: 1.25rem;
}

.tituloEstudios {
  text-align: center;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  color: #555;
  font-size: 22px;
}

.icon-box {
  align-self: center;
  color: #70b9b0;
}

.conten_Estudios {
  text-align: center;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  line-height: 30px;
}
.conten_Estudios span {
  font-weight: 400;
  font-size: 15px;
  font-weight: bold;
}

/* CONTACTO */
.contacto-header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

.form-group {
  align-self: center;
}

.container-footer {
  background-color: #f1f1f1;
  margin: 2rem 0 0 0;
}

/*mapas*/
.box, .box2 {
  background-color: white;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  display: block;
  padding: 1.25rem;
}

.box2 {
  background-color: white;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  display: block;
  padding: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
