%box {
    background-color: white;
    border-radius: 6px 6px 0 0 ;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
    color: #141c3a;
    display: block;
    padding: 1.25rem;

}

// en este box cambia el icono y el color 
%box2 {
    background-color: white;
    border-radius: 6px 6px 0 0 ;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
    color: #141c3a;
    display: block;
    padding: 1.25rem;

}