/*seccion sobre mi*/
@import 'mapas';
@import 'extends';

.sobre_mi_container{
    padding: 5em;
}

section {
    div {
        h3 {
            color: map-get($estudios-standart , text-color-standart );
                font-family: 'Raleway', sans-serif;
                text-align: center;
                text-transform: uppercase;
                font-size: map-get($estudios-standart , font-size-standart );
            span{
                color: map-get($estudios-standart , text-color-standart );
                font-family: 'Raleway', sans-serif;
                text-align: center;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: bold;
            }
        }
    }
}

.box {
    @extend %box;
}

.box2 {
    @extend %box;
}

.tituloEstudios{
    text-align: center;
    font-weight: 400;
    display: flex;
    flex-direction:  column;
    font-family: 'Oswald', sans-serif;
    color: #3E8E7E;
}
.icon-box  {
    align-self: center;
}


.conten_Estudios{
    text-align: center;
    font-weight: 400;
    display: flex;
    flex-direction:  column;
    font-family: 'Oswald', sans-serif;
}


.conten_Estudios span{
    font-weight: 600;
}