/*seccion sobre mi*/
@import 'mapas';
@import 'extends';

.sobre_mi_container{
    padding: 5em;
}

section {
    div {
        h3 {
            color: map-get($estudios-standart , text-color-standart );
                font-family: 'Raleway', sans-serif;
                text-align: center;
                text-transform: uppercase;
                font-size: map-get($estudios-standart , font-size-standart );
            span{
                color: map-get($estudios-standart , text-color-standart );
                font-family: 'Raleway', sans-serif;
                text-align: center;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: bold;
            }
        }
    }
}
