@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root{
    --swiper-nav: white;
    --swiper-color: black;;
}

@media (max-width :600px) {
    .menu {
        display: flex;
        width: 40%;
        justify-content: space-around;
        color: var(--swiper-color);
        font-family: 'Bebas Neue', cursive;
        flex-direction: column;
    } 

    
}

.header-top{
    background-color: var(--swiper-nav);
    padding: 20px 0;
    display: flex;
    justify-content: right;
}

header nav a {
    color: #4FBDBA;
    text-decoration: none;
}
.menu {
    display: flex;
    width: 40%;
    justify-content: space-around;
    color: var(--swiper-color);
    font-family: 'Bebas Neue', cursive;
}    
.container_preview , .container_sobre_mi  , .container_experiencia , .container_estudios {
display: flex ;
/* con este padding amplio el alto del primer div*/
padding: 19rem;

}
.grid_container{
display: grid;
width: 100%;
grid-template-columns: 50% 50%;
gap: 10em;
}


section div h1{
    color: #072227;
     /* Ajusto la posicion del texto con rem (posicion relativas)*/ 
    margin-top: -8rem;
    padding-right: 4em;
    position: absolute; 
    font-family: 'Viga', sans-serif;
    font-weight: bold;
	text-align: left;
	text-transform: uppercase;
    font-size: 35px;
}
#sobre_mi p {
    text-align: center;
    font-family: 'Viga', sans-serif;
    font-size: 20px;
}
section div h1 span{
    background-color: #4FBDBA;

}
section div p a{
    background-color: #4FBDBA;
    border-radius: 10px;
    margin-top: 5rem;
    width: 85%;
    padding: 1rem;
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Viga', sans-serif;

}

section div p a:hover{
    color: #fff;
}


section div h2{
    color: #072227;
     /* Ajusto la posicion del texto con rem (posicion relativas)*/  
    font-family: 'Viga', sans-serif;
	text-align: center;
	text-transform: uppercase;
    font-size: 20px;
}
section div h2 span{
    color: #072227;
     /* Ajusto la posicion del texto con rem (posicion relativas)*/  
    font-family: 'Raleway', sans-serif;
	text-align: center;
	text-transform: uppercase;
    font-size: 30px;
}

.container_contacto {
    display: flex;
    justify-content: center;
    position: relative;
    align-items:  center;
	flex-direction: column;
    }